@import 'theme';

header{
  background-color: $my-gray-color;
  margin: none;
  width: 100%;
  height: 90px;
  color: $primary-color-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  section#home{
    height: 100%;
    .img-container{
      height: 100%;
    }
  }

  section#search_bar{
    font-size: large;
  }

  section#user_menu_not_logged_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    font-size: large;
  }

  section#user_menu_logged_in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    a{
      font-size: large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
    }
    button{
      font-size: large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
    }
  }
}