@import 'theme';
//Index
section#recipes_index{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a{
    text-decoration: none;
    div.recipe_card{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      background-color: $my-gray-color;
      border: 1px solid rgb(87, 86, 86);
      border-radius: 5px;
      margin: 2em;
      color: white;
      img{
        padding: 5px;
      }
    }
  }
}

//Show

section#recipes_show{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 2em;
  

  div#primary_column{
    max-width: 50%;
    min-width: 40%;
    background-color: $my-gray-color;
    border-radius: 15px;
    padding: 1em;
    h1{
      font: larger;
    }
  }

  div#secondary_column{
    max-width: 30%;
    min-width: 20%;
    background-color: $my-gray-color;
    border-radius: 15px;
    padding: 1em;
  }






}

//New

.invisible-form{
  display: none;
}

#recipe-form-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: larger;
  min-width: 300px;
  margin-bottom: 3em;
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    background-color: #1a1a1b;
    padding: 20px;
    border-radius: 10px;

    .add-photo-button{
      cursor: pointer;
      
    }
    .field{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      input{
        min-width: 300px;
      }
    }
    .actions{
      input{
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
      }
    }
  }
}

.horizontal-flex{
  display: flex;
  justify-content: space-around;
  gap: 5;
}

#add-ingredients-tab{
  margin-left: 3em;
  #added-ingredients-list{
    list-style-type: none;
    li{
      text-decoration: none;
      padding: .5rem 1rem;
      //border-radius: 3em;
      border: 1px solid $my-gray-color;
      background-color: $my-gray-color;
      span{
        margin-left: 10px;
        color: $button-color;
      }
    }
  }
}

.ingredient-element{
  text-decoration: none;

}

.ingredient-element:hover{
  color: $button-color-dark;
}

