$primary-color:        #6B5488;
$primary-color-dark:   #522f7d;
$primary-color-light:  #9881b2;
$primary-color-text:   #FFFFFF;


$button-color: #FFD166;
$button-color-dark: #cfa33d;

$another-color: #F4F1DE;
$secondary-color: #8FB69C;

$accent-color: #E07A5F;

$background-color: #030303;

$my-gray-color: #1a1a1b;

body{
  font-family: 'Times New Roman', Times, serif;
}